html, body {
  height: 100%;
  width:100%;
}
#header {
  display: grid;
  grid-template-columns: auto minmax(30em, 1fr) auto;
  padding: 1em;
  width: 100%;
  border-bottom: #d7d7db solid 1px;
  background-color: #f9f9fa;
}

#icon {
  height: 48px;
  width: 48px;
  margin-top: 3px;
  margin-right: 15px;
  background-image: url('/images/updatescanner_48.png');
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  font-size:x-large;
  font-weight: normal;
  color: #4040b0;
  margin-top: 0;
  margin-bottom: 10px;
}

#sidebar{
  margin-top: 20px;
}

#tree {
  font-weight: normal;
}

.changed > .jstree-anchor {
  font-weight: bold;
}

.error > .jstree-anchor {
  color: #b1b1b3;
}

p {
  white-space: pre-line;
}

dialog {
  top: 10%;
  margin: 0.5em;
  padding: 1em;
  border: 1px solid #d7d7db;
  border-radius: 6px;
  box-shadow: 0 4px 16px rgba(12, 12, 13, 0.1);
}

dialog::backdrop { /* native */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.8);
}

dialog + .backdrop { /* polyfill */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.8);
}

.dialog-buttons {
  float: right;
  margin-right: 0.5em;
}

.hidden {
  display: none;
}
